.card {
  min-height: 100%;
}

.scrollable-text {
  max-height: 120px;
  overflow-y: auto;
}

.scrollable-text::-webkit-scrollbar {
  width: 6px;
}

.scrollable-text::-webkit-scrollbar-thumb {
  background-color: #ff9100;
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}
